﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="autopostback-dropdown.aspx.cs" Inherits="SampleWebAppWithCasts.fluent_post_back.autopostback_dropdown" %>
<%@ Register tagPrefix="uc" tagName="EC" src="EmbeddedControl.ascx" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <uc:EC runat="server" />
    </div>
    </form>
</body>
</html>
