﻿<%@ Page Language="C#" AutoEventWireup="true" Inherits="System.Web.UI.Page" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        Testing...
        START-&gt;<%= Request.QueryString["qsValue"] %>&lt;-END
        <asp:Textbox runat="server" id="abc" />
        <asp:RequiredFieldValidator runat="server" ControlToValidate="abc" />
    </div>
    </form>
</body>
</html>
