﻿<%@ Page Title="About Us" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true"
    CodeBehind="About.aspx.cs" Inherits="SampleWebAppWithCasts.About" %>
<%@ Register TagPrefix="uc1" Namespace="WebControlLibrary" Assembly="WebControlLibrary" %>
<%@ Register TagPrefix="uc1" Namespace="WebControlLibrary.UI.Controls" Assembly="WebControlLibrary" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <h2>
        About
        <uc1:ServerControl1 runat="server" />
    </h2>
    <p>
        Put content here.
    </p>
</asp:Content>
