﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.master"
     Inherits="WebControlLibrary.UI.AbstractPageBase" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
   ERROR 404 PAGE
</asp:Content>
